body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #6f6f6f;
    padding-right: 15px;
}
nav .liens{
    color: #717171;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    border-bottom: 15px;
    border-color: black;
    display: flex;flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

nav h1{
    color: #717171;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    border-bottom: 24px;
    padding-right: 450px;
}
nav .liens a{
    text-decoration: none;
    color: black;
    margin-right:10px;
    border-bottom: 3px solid black;
    padding-bottom: 5px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("Nouveau dossier/IMG-20220129-WA0007.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
    color: pink;
}
header h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
header h4{
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid wheat;
}
header button{
    padding: 10px 20px;
    background-color: #fff;
    color: #000;border: none;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}
.main{
    margin-top: 40px;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;  
}

.main .content .card .left{
   flex: 0 0 30%;
   padding: 20px;
   background-color: black;
   color: white;
}
.main .content .card.right{
    flex: 0 0 70%;
    padding: 70px;
}
.main .content .card .right img{
    height: 300px;
    width: 400px;
    margin-top: 5px;
}
footer{
    margin-top: 10px;
    border-top: 5px solid #6f6f6f;
    background-color: #000;
    color: #fff; 
    padding: 35px 50px; 
}
footer h1{
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid #fff;
    width: 20%;
    padding-bottom: 5px;
}
footer .services{
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}
footer .services .service{
    margin-right: 20px;
    padding: 4px;
    
}
footer .services .service p{
    max-width: 300px;
}
@media screen and (max-width:680px){
    margin-left: 0px;
    margin-bottom: 20px;
}
@media screen and (max-width:420px){

    .main .content .card{
        display: flex;
        flex-direction: column;
        height: auto;
        font-size: 10px;  
    }
    .services .service p {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        height: auto;
        font-size: 12px; 
    }
    footer{
        margin-top: 5px;
        border-top: 5px solid #6f6f6f;
        background-color: #000;
        color: #fff; 
        padding: 5px 10px; 
    }

}
